
/* Import Type */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600|Homemade+Apple');
@import './variables.module.css';

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: var(--fontFamilyBody);
  line-height: 1.8;
  font-weight: 300;
}

h1 {
  font-weight: 100;
  font-family: var(--fontFamilyHeader);
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin-left: 1rem;
}

figure,
img,
body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--colorPrimary);
  text-decoration: none;
  border-bottom: 1px solid;
  transition-duration: 0.25s;
  position: relative;
  z-index: 1;
}

a::before {
  content: '';
  height: 100%;
  width: 100%;
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(0);transform-origin: left;
  transition-duration: 0.25s;
}

a:hover::before {
  background-color: var(--colorSubtleGreen);
  transform: scaleX(1);
}