
/* Import Type */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto:300,300i,700');

html > * {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin-left: 3rem;
}

figure,
img,
body {
  margin: 0;
  padding: 0;
}