:root {
  --colorPrimary: #0da402;
  --colorSubtleGreen: #d2f9d9;
  --colorLightGray: #f7f7f7;
  --fontFamilyHeader: 'Permanent Marker', serif, cursive;
}

@custom-media --mobileUp (min-width: 500px);