@import '../../global-styles/variables.module.css';

.homePageList {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-auto-flow: row dense;
  grid-gap: 1px;
}

.highlight {
  grid-column: span 2;
  grid-row: span 2;
}

.highlight .header {
  font-size: 2rem;
}

.post {
  list-style: none;
  height: 100%;
  background: red;
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: var(--fontFamilyHeader);
  width: 70%;
  position: absolute;
  font-size: 1.4rem;
  padding-left: 1em;
  line-height: 1.2;
  background-color: yellow;
  color: black;
  display: inline-block;
}

.post a {
  text-decoration: none;
  height: 100%;
}

/* .post:nth-child(2n) {
  flex-direction: column-reverse;
} */

/* .post:first-child {
  background: #4d7058;
}

.post:nth-child(2n) {
  background: #cfb9aa;
}

.post:nth-child(3n) {
  background: #94caa5;
}

.post:nth-child(4n) {
  background: #63df8a;
}

.post:nth-child(5n) {
  background: #b19f7e;
} */

.textArea {
  padding: 0 2rem;
}

.mediaContainer {
  height: 100%;
}

.mediaContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post a:focus .nutrition,
.post a:hover .nutrition {
  opacity: 1;
}

.nutrition {
  display: flex;
  list-style: none;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(0,0,0,0.75);
  color: white;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.25s;
  opacity: 0;
}