@import '../../global-styles/variables.module.css';

.header {
  background-color: var(--colorLightGray);
  box-shadow: 2px solid;
  padding: 0.5rem 0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.logo {
  border-bottom: 0;
  color: initial;
  font-size: 0.8rem;
  margin-bottom: -0.5rem;
}

.logo::before {
  content: none;
}

.logoImg {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.header img {
  width: 100%;
}

.nav {
  display: flex;
  margin: 0;
}

.nav li {
  list-style: none;
  flex: 1;
  margin: 0 0.5em;
}

.nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  font-weight: 600;
  position: relative;
}

.navLinkMore {
  margin-right: 1rem;
}

.moreContent {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  padding-top: 30px;
  justify-content: center;
  text-align: center;
  display: flex;
  pointer-events: none;
  
  /* hide scrollbars */
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  padding-bottom: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.subItem {
  max-width: 250px;
  display: inline-block;
  max-height: 230px;
  opacity: 0;
  transition-duration: 0.5s;
  pointer-events: none;
}

.subItem figure {
  height: 160px;
  width: 250px;
}

.subItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navItem {
  transition-duration: 0.4s;
  height: 40px;
}

.navItem:focus,
.navItem:focus-within,
.navItem:hover {
  height: 280px;
}

.navItem:focus .subItem,
.navItem:focus-within .subItem,
.navItem:hover .subItem {
  pointer-events: all;
  opacity: 1;
}

.navItem:focus .navLinkMore:after,
.navItem:focus-within .navLinkMore:after,
.navItem:hover .navLinkMore:after {
  transform: rotateX(180deg);
}

h3 {
  font-size: 0.75rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}