@import '../../global-styles/variables.module.css';

.recipe h1 {
  line-height: 1.4;
  margin-bottom: -0.5rem;
  z-index: 1;
  position: relative;
}

.recipe h2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1rem 0 0.5rem;
  border-bottom: 1px solid;
  display: inline-block;
  padding-bottom: 0.1rem;
  font-size: 1rem;
}

.recipe h3 {
  font-size: 0.8rem;
  font-style: italic;
  letter-spacing: 0.05rem;
}

.nutrition {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.nutrition li {
  display: flex;
  flex-direction: column;
  flex-basis: 4rem;
  text-align: center;
  font-size: 0.6rem;
}

.value {
  padding: 0.5em 0;
  font-size: 1.25rem;
  border: 1px solid lightgray;
}

li + li .value {
  border: 1px solid lightgray;
  margin-left: -1px;
}

.title {
  font-weight: 300;
}

.recipe {
  display: flex;
}

.mediaContainer {
  height: 100vh;
  max-width: 500px;
  display: block;
  top: 0;
  position: sticky;
  line-height: 0;
}

.content {
  max-width: 700px;
  padding: 1rem 2rem;
}

.mediaContainer img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.meta,
.prevNext {
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 100%;
  background: #ececec;
  padding: 1rem;
  font-size: 0.8rem;
  margin: 0;
}

.prevNext {
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.6rem;
  font-weight: 600;
}

.prevNext a {
  color: black;
}

@media (max-width: 980px) {
  .recipe {
    flex-direction: column;
  }

  .mediaContainer {
    width: 100vw;
    display: block;
    height: 50vh;
    position: relative;
    max-width: none;
  }

  .mediaContainer img {
    height: 100%;
    width: 50%;
  }
}

@media (max-width: 600px) {
  .mediaContainer {
    height: 60vh;
  }

  .mediaContainer img {
    height: 50%;
    width: 100%;
    object-position: center;
  }
}