h1 {
  line-height: 1;
  z-index: 1;
  position: relative;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1rem 0 0.5rem;
  border-bottom: 1px solid;
  display: inline-block;
  padding-bottom: 0.1rem;
  font-size: 1rem;
}

h3 {
  margin-bottom: -1rem;
  font-size: 0.8rem;
  font-style: italic;
  letter-spacing: 0.05rem;
}

.nutrition {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.nutrition li {
  display: flex;
  flex-direction: column;
  flex-basis: 5rem;
  text-align: center;
  font-size: 0.8rem;
}

.value {
  padding: 0.5em 0;
  font-size: 1.7rem;
  border: 1px solid lightgray;
}

li + li .value {
  border-left: none;
  border-right: 1px solid lightgray;
}

.title {
  font-size: 3.5rem;
}

.recipe {
  display: flex;
}

.mediaContainer {
  height: 100vh;
  max-width: 500px;
  display: block;
  top: 0;
  position: sticky;
}

.content {
  max-width: 600px;
  padding: 0 2rem;
  margin: 0 auto;
}

.mediaContainer img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.mediaContainer img:nth-child(2) {
  margin-top: -8px;
}

.meta,
.prevNext {
  display: flex;
  justify-content: space-between;
}

.footer {
  width: calc(100% - 4rem); 
  background: #ececec;
  padding: 2em;
  font-size: 0.8rem;
  margin: 2rem 0;
}

.prevNext {
  list-style: none;
  margin: 0;
}